*
{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.logo{
    float:left;
    padding-top:2px;
    padding-left:150px;
    
}
.links div
{
    float:right;
    box-sizing: border-box;
    height:50px;
    width:400px;
    padding-top: 14px;
}
.links a
{
    margin:10px;
    color: #0a0a0a;
    font-size: 17px;
   
}
.site-content{
    position:absolute;
    top:55px;
    width:100%;

}
.image-content{
    background-image: url(../image/background-layer.png);
    display:flex;
    height: 700px;
    color:white;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction:column;
   
}
.image-content a{
    color: white;
}
.image-text
{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 60px;
}
.about-us
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-heading{
    color:#139139;
    margin:35px;
    font-weight: bold;
    font-size: large;
}
.about-description
{
    color:#000000;
    line-height: 30px;
    text-align: center;
    margin-bottom:30px;
    font-size:15px
}
.about-cards
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}
.about-cards img{
    padding-left: 75px;
    padding-right: 75px;
}
.mission-text
{
    padding-left: 68px;
    margin-top: 15px;
}
.vision-text
{
    padding-left: 68px;
    margin-top: 15px;
}
.awards
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(240,240,240);
    padding-bottom: 30px;
   
}
.award-cards
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    text-align:center;
    font-size:12px;
}
.awards-heading
{
    margin-top: 30px;
    font-weight: bold;
    font-size: large;
}
.get-in-touch
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(240,240,240);
    padding-bottom:30px;
}
.details
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-heading
{
    margin-top: 30px;
    font-weight: bold;
    font-size:large;
    padding-bottom: 30px;
}
.hubspot-form
{
    padding-left: 68px;
    margin-top: 15px;

}
.contact
{
    padding-left: 150px;
}
.footer{
    background-color: #139139;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    color:white;
}
.footer a{
    margin:10px;

}








